*,
*::after,
*::before{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: Work Sans;
    font-style: normal;
  margin-top: 120px;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}