.download{
    background: #FFFFFF;
border-radius: 10px;
padding: 15px 30px;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* identical to box height */


/* PRIMARY BLACK */

color: #03101A;
}